:root {
	--header-height: 60px;
	--sidebar-width: 300px;

	--mobile-screen-width: 600px;
	--tablet-screen-width: 320px;

	--header-color: #E3E3E3;
	--sidebar-color: #F0F0F0;
	--footer-background-color: #565656;

	--footer-heading-color: #E3E3E3;
	--footer-font-color: #D4D4D4;

	--border-color: #CCC;
}

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

/* ===================================== */
/*   Header                              */
/* ===================================== */

div.header {
	position: fixed;
	top: 0;

	width: 100%;
	height: var(--header-height);

	display: flex;
	flex-direction: row;
	align-items: center;

	/* 	box-shadow: 0 0 5px 5px grey; */

	overflow: hidden;
	z-index: 100;
}

div.header .header-spacer {
	flex-grow: 1;
	height: 100%;
	/* 	border-right: 1px solid grey; */
	/* 	margin-right: -1px; */
}

div.header .header-field {
	height: 100%;

	/* 	border-right: 1px solid grey; */
	/* 	margin-right: -1px; */

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	padding: 0 12px;
}

div.header .header-icon {
	margin-right: 8px;
	font-size: 25px;
}

div.header .header-button {
	margin-right: 8px;
}

/* ===================================== */
/*   Main Div                            */
/* ===================================== */

div.main-div {
	min-height: calc(100% - var(--header-height));

	position: absolute;
	right: 0;
	left: var(--sidebar-width);
	top: 0;

	margin-top: var(--header-height);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.navigation-buttons {
	/*position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	margin-top: 12px;*/
	float: right;
}

div.main-div.sidebar-collapsed {
	left: 0;
}

div.content-wrapper {
	width: 100%;
	padding: 12px 24px 24px 24px;
	position: relative;
}

.header-link {
	text-decoration: none;
}

.direct-link {
	margin-top: 20px;
	display: inline-block;
}

/* ===================================== */
/*   Sidebar                             */
/* ===================================== */

div.sidebar {
	height: calc(100% - var(--header-height));
	width: var(--sidebar-width);

	position: fixed;
	left: 0;
	top: 0;

	margin-top: var(--header-height);

	display: flex;
	flex-direction: column;


	z-index: 50;

	padding: 12px;
	overflow: auto;

	transition: 0s;
}

div.sidebar.sidebar-collapsed {
	left: calc(-1 * var(--sidebar-width));
	box-shadow: 0 0 0 0 grey;
}

.sidebar-affected {
	transition: left 0.3s;
}

/* ===================================== */
/*   Footer                              */
/* ===================================== */

div.footer {
	margin-top: auto;
	padding: 20px;
	width: 100%;
}

div.footer .contain {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

div.footer h1 {
	font-size: medium;
}

div.footer ul {
	margin: 0;
	padding: 0;

	list-style-type: none;
}

div.footer .col {
	width: 200px;
	margin: 0 20px 20px 20px;
}

div.footer .social li {
	display: inline-block;
}

/* ===================================== */
/*   Form-Elemente                       */
/* ===================================== */

.form-grid {
	display: grid;
	grid-template-columns: 25% auto;
	grid-gap: 4px 0;
}

.form-grid :not(label) {
	margin-bottom: 8px;
}

.form-grid label {
	margin-bottom: 0;
}

.form-button {
	margin: 5px 20px 5px 0;
}

button.ui-button.form-button {
	margin: .2rem .5rem .2rem 0;
}

button.ui-button.table-button {
	margin: .2rem .5rem .2rem 0;
}

.form-toolbar {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 6px;
}

.form-toolbar .toolbar-nogrow {
	width: auto !important;
	flex-grow: 1 !important;
	margin-bottom: 12px;
}

.form-toolbar .toolbar-grow {
	width: auto !important;
	flex-grow: 1000 !important;
	margin-bottom: 12px;
}

/* ===================================== */
/*   Tabellen                            */
/* ===================================== */

.action-column {
	width: 7rem;
}

.column-three-buttons {
	width: 9rem;
}

table.non-responsive td {
	padding: 5px 12px;
}

.rightAlignedColumnContent{
	text-align: right;
}
/* ===================================== */
/*   Admin-Menu                          */
/* ===================================== */

.app-menu {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 1;
	justify-content: center;
	gap: 20px;
}

.app-menu-item {
	display: inline-flex;
	width: 150px;
	height: 150px;

	padding: 12px;

	border-radius: 3px;

	text-decoration: none;

	flex-direction: column;
	align-items: center;
	text-align: center;
}

.app-menu-item i.icon {
	font-size: 75px;
	flex-grow: 0;
}

.app-menu-item i.caption {
	flex-grow: 1;
	display: flex;
	align-items: center;
	font-style: normal;
}

/* ===================================== */
/*   Fehler-Seiten                       */
/* ===================================== */


.error-page {
	text-align: center;
}

.error-number {
	font-size: 100px;
	margin: 25px 0 50px 0;
}

.error-description {
	font-size: xx-large;
}

/* ===================================== */
/*   File Upload                         */
/* ===================================== */

.file-upload {
	border: 1px solid #CCC;
	padding: 12px 15px;
}

.file-upload.bottom-half {
	border-top: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.file-upload > img {
	max-width: 100%;
	max-height: 300px;
	object-fit: contain;
}

/* ===================================== */
/*   Primefaces-Fixes                    */
/* ===================================== */

/* Primefaces hat Probleme in den Menüs, wenn der Text zu lang für eine Zeile ist.
Daher kann man das Display auf Flex umstellen, dann wird der Text nicht um das Bild herumgebrochen. */

.ui-menuitem-link {
	display: flex !important;
	flex-direction: row;
	align-items: center;
}

body .ui-input-icon-right > .ui-inputfield {
	width: 100% !important;
}

td .ui-column-title {
	margin-bottom: 0 !important;
	width: 100% !important;
	font-weight: bold;
}


/* ===================================== */
/*   Kleinkram                           */
/* ===================================== */

html, body {
	margin: 0;
}

pre {
	padding: 6px;
	border-radius: 3px;
	font-size: 85%;
	overflow: auto;
}

div.text-overflow {
	max-height: 100px;
	overflow: hidden;
	position: relative;
}

.text-overflow::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 30px;
	background: linear-gradient(#FFF0, #FFF);
	top: 70px;
	left: 0;
}

div.text-overflow p {
	margin: 0;
}

h1{
	color: var(--primary-color);
}

label{
	color: var(--text-color);
}

.ui-menuitem-text{
	width: 100% !important;
}

body{
	background-color: var(--surface-a);
}

@media only screen and (max-width: 768px) {

	div.header .no-mobile-display {
		display: none;
	}

	div.main-div {
		left: 0;
	}

}

@media only screen and (max-width: 480px) {

	div.header .no-mobile-display {
		display: none;
	}

	div.main-div {
		left: 0;
	}

	div.sidebar {
		width: 100%;
		transition: width 0s 0.3s, left 0.3s;
	}

	div.sidebar.sidebar-collapsed {
		left: -100%;
	}

	.form-grid {
		grid-template-columns: auto;
	}
}




